* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282828;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 95px;
  position: relative;
  margin-right: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.navbar ul li {
  line-height: 30px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar ul li:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.navbar ul li:last-child {
  border-bottom: 1px solid #ffffff;
}

.logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  width: 698px;
  height: 379px;
  padding: 79px;
  border-radius: 10px;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 568px;
  height: 60px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

button {
  margin-top: 40px;
  width: 428px;
  height: 51px;
  background-color: #1170ff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #0a5dd8;
}
